// .gl_shadow-outer {
//   box-shadow: 0px 0px 0px 1px $cl-basic-alpha-100, 0px 1px 2px 0px $cl-basic-alpha-100;
// }

// .gl_shadow-inner {
//   box-shadow: 0px 0px 0px 1px $cl-basic-alpha-100 inset;
// }

.gl_shadow-xs {
  box-shadow: 0 1px 2px 0 $cl-basic-alpha-100;
}

.gl_shadow-sm {
  box-shadow: 0px 1px 2px -1px $cl-basic-alpha-200, 0px 2px 4px -1px $cl-basic-alpha-100;
}

.gl_shadow-md {
  box-shadow: 0px 2px 4px -2px $cl-basic-alpha-200, 0px 4px 6px -2px $cl-basic-alpha-100;
}

.gl_shadow-lg {
  box-shadow: 0px 4px 8px -4px $cl-basic-alpha-200, 0px 8px 12px -4px $cl-basic-alpha-100;
}

.gl_shadow-xl {
  box-shadow: 0px 8px 16px -8px $cl-basic-alpha-200, 0px 16px 24px -8px $cl-basic-alpha-100;
}

.gl_shadow-xxl {
  box-shadow: 0 24px 48px -12px $cl-basic-alpha-200;
}